
.container-1{
  background-color:transparent;
  display:flex;
  align-items:center;
  justify-content: space-between;
  z-index: 5;
  vertical-align: middle;
  align-content: center;
  height:100%;
  padding-bottom:28%;
 
 

}

.Header{
    font-size:3vw;
    font-family: cursive; 
    padding-left:30px;
     
    
}
.Link{
    font-size:2vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left:20px;
    padding-right:20px;
    
    
    
    
   

}





div{
    background:transparent;
    
}





