h1{
    text-align:center;
    display:flex;
    justify-content:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3vw;
    background:transparent;
}
.container{
    display:flex;
    justify-content:space-evenly;
    background:transparent;
}
.img1{
    width:28%;
    position:relative;
    
}
.img2{
    width:28%;
    position:relative;

}
.img3{
    width:28%;
    position:relative;

    
}

