.container{
    display:flex;
    justify-content:center;
}
.img1{
    width:28%;
    position:relative;
    
}
.img2{
    width:28%;
    position:relative;

}
.img3{
    width:28%;
    position:relative;
    
};